body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { 
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFFFE;  }

.container {
    width: 1000px;
    margin: 0 auto;
}

#logo {
    background: url(images2/eca_img1.jpg) no-repeat;
    padding-left: 50px;
    height: 115px;
    width: 220px;
    margin-top: 20px;
    float: left;
  
    }

#logo h1 {
    text-indent: -9999px;
        }

#header {
    padding-top: -5px; 
}

#tagline {
    float: left;
    padding-top: 25px; 
    width: 300px;
    /*margin-top: -110px;
    margin-right: 300px;*/
}

#tagline h3 {font-size: 30px; font-family: Times; color: #FA427A; }

ul#menu {
    list-style: none; /*removes bullet points*/
    padding-top: -20px;
    padding-bottom: 30px;
    padding-left: 0px;
    text-indent: -90px;
    margin-bottom: 0px;
    margin-top: 15px;
    text-align: center;
    background-color: #F30026;
    height: 5px;
    
}

ul#menu li a {
    float: left;
    font-size: 25px;
    color: #F6F4F0;
    text-decoration: none; 
    width: 100%;
    padding-left: 20px;
    margin-top: -48px;
    margin-left: 70px;
    
}

ul#menu li {
    float: left;
    padding-right: 100px;
    padding-top: 50px;
    width: 20px; 
}

#menu a:hover{
    text-shadow: 2px 2px 4px #000000;
}

#services ul{
    list-style: none;
}

#services{
float: left;
margin-top: 10px;
margin-left: 25px;
width: 450px;
color: white;
}

#services li{
color: white;

}

#industry{
float: right;
margin-top: 65px;
margin-right: 20px;
color: white;
width: 450px;
}
#industry ul{
list-style: none;
}

#industry li{
    color: white;
    font-size: 16px;
}

#container9{
    background-color: #F30026;
    height: 1250px;
    margin-top: 2px;
    margin-bottom: 50px;
}
#sidebar{
    margin-left: 550px;
}